.dynamic-bg.detail{
  display: block;
  display: grid;
}
.locations-grid{
  display: flex;
  grid-column: 1/-1;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-bottom: 56px;
}
.container.detail{
  align-items: start;
  height: auto;
  padding-bottom: 0px;
}
.detail-infos{
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 3fr 2fr;
  width: 100%;
  height: 100%;
  color: #303030;
}
#loader.loader-detail{
  display: none;
}
li:nth-child(even){
  padding-left: 94px;
}
li:nth-child(1),
li:nth-child(2){
  margin-bottom: 42px;
}
li h6{
  margin-bottom: 9px;
}
.detail-bg{
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 2;
}
.detail-bg.night{
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(8px);
  position: relative;
  z-index: 2;
}
.detail-bg.night li{
  color: white;
}
